language: perl
perl:
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"

before_install: 
  - sudo apt-get update -qq
  - sudo apt-get install -qq emboss
  - ./build/ci/run_build.sh

script: perl Makefile.PL && make && make test

after_failure: cat /home/travis/.cpanm/build.log

branches:
  only:
    - master
#    - topic/add_search_terms
